body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  margin:0;
  padding:0;
}
html,body,#root,.ant-layout{
  height:100%;
}
html,body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,span,input{
  margin:0;padding:0;
}
body{
  font:12px/1.5em "宋体",arial; 
  color:#3c3c3c;
}
h1,h2,h3,h4,h5,h6{
  font-size:100%;
}
img{
  border:0;display:block;
}
ul,ol{
  list-style:none;
}
a{
  text-decoration:none;color:#fff;
}
a:hover{
  text-decoration:underline;
}
.clearfix:after{
  content:"";
  display:block;
  height:0;
  visibility:hidden;
  clear:both;
}
.clearfix{
  zoom:1;
}